{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> New Image</title>
    {{form.media}}
    {% block styles %}
      {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/baseinsta.css' %}">

    {% endblock %}
  </head>
  <body>
    <form action="{% url 'edit-profile' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% bootstrap_form form %}
      <input type="submit" class="btn btn-success btn-lg" value="Edit Profile">

    </form>

    {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript%}
    {% endblock %}

  </body>
</html>
